# Advanced Querying Mongo

Importing libraries and setting up connection

In [10]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
db = client["ironhack"]
db.list_collection_names()
c = db.get_collection("crunchbase")
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ironhack'), 'crunchbase')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [16]:
my_filter = {"name":"Babelgum"}
projection = {"name":1, "_id":0}

result = list(c.find(my_filter,projection))
result

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [110]:
my_filter = {"number_of_employees" : {"$gt":5000}}
projection = {"name":1, "_id":0, "number_of_employees":1}

result = list(c.find(my_filter,projection).sort("number_of_employees",-1).limit(20))
result[:3]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [109]:
filter_1 = {"founded_year" : {"$gte":2000}}
filter_2 = {"founded_year" : {"$lte":2005}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "founded_year":1}

result = list(c.find({"$and": all_filters},projection))
result[:3]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [108]:
filter_1 = {"ipo.valuation_amount" : {"$gt":100000000}}
filter_2 = {"founded_year" : {"$lte":2010}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0,"ipo":1}

result = list(c.find({"$and": all_filters},projection))
result[:3]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [107]:
filter_1 = {"number_of_employees" : {"$lt":1000}}
filter_2 = {"founded_year" : {"$lte":2005}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "number_of_employees":1}

result = list(c.find({"$and": all_filters},projection).sort("number_of_employees",-1).limit(10))
result[:3]

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948}]

### 6. All the companies that don't include the `partners` field.

In [29]:
result = list(c.find({"partners": {"$exists":False}}))
result

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [106]:
result = list(c.find({"category_code": {"$type":10}}))
result[:3]

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'),
  'name': 'Collective',
  'permalink': 'collective',
  'crunchbase_url': 'http://www.crunchbase.com/company/collective',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'updated_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'overview': None,
  'image': None,
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675298225'),
  'name': 'Snimmer',
  'permalink': 'snimmer',
  'crunchbase_url': 'http://www.crunchbase.com/company/snimmer',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Sat Feb 09 20:35:27 UTC 2008',
  'updated_at': 'Mon Mar 10 01:30:14 UTC 2008',
  'overview': None,
  'image': None,
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675298226'),
  'name': 'KoolIM',
  'permalink': 'koolim',
  'crunchbase_url': 'http://www.crunchbase.com/company/koolim',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': '',
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Sat Feb 09 20:35:27 UTC 2008',
  'updated_at': 'Mon Nov 29 19:02:26 UTC 2010',
  'overview': '<p>KoolIM.com is a web messenger application that allows you to stay connected with your favorite instant messenger networks. They provide a friendly, light and very easy to use web-based interface with almost all core features from the original instant messenger. It works behind a firewall or proxy servers and there is no need to download and install any software or plug-ins.</p>\n\n<p>Supported networks:</p>\n\n<ul>\n<li>AIM</li>\n<li>ICQ</li>\n<li>MSN</li>\n<li>Yahoo</li>\n<li>IRC</li>\n<li>Jabber</li>\n<li>Sametime</li>\n<li>Simple</li>\n<li>SIP</li>\n<li>LCS</li>\n</ul>',
  'image': None,
  'products': [],
  'relationships': [{'is_past': True,
    'title': 'Co-Founder',
    'person': {'first_name': 'Yogesh',
     'last_name': 'Patel',
     'permalink': 'yogesh-patel'}}],
  'competitions': [{'competitor': {'name': 'eBuddy', 'permalink': 'ebuddy'}}],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [105]:
filter_1 = {"number_of_employees" : {"$gte":100}}
filter_2 = {"number_of_employees" : {"$lt":1000}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "number_of_employees":1}

result = list(c.find({"$and": all_filters},projection))
result[:3]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305}]

### 9. Order all the companies by their IPO price in a descending order.

In [104]:
projection = {"name":1, "_id":0, "ipo":1}

result = list(c.find({},projection).sort("ipo.valuation_amount",-1))
result[:3]

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [70]:
projection = {"name":1, "_id":0, "number_of_employees":1}

result = list(c.find({},projection).sort("number_of_employees",-1).limit(10))
result

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [103]:
filter_1 = {"founded_month" : {"$gt":6}}
filter_2 = {"founded_month" : {"$lte":12}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "founded_month":1}

result = list(c.find({"$and": all_filters},projection).limit(1000))
result[:3]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [102]:
filter_1 = {"founded_year" : {"$lt":2000}}
filter_2 = {"acquisition.price_amount" : {"$gt":1000000}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "founded_year":1, "acquisition.price_amount":1}

result = list(c.find({"$and": all_filters},projection))
result[:3]

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [101]:
projection = {"name":1, "_id":0, "acquisition":1}

result = list(c.find({"acquisition.acquired_year" : {"$gt":2010}},projection).sort("acquisition.price_amount",-1))
result[:3]

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [74]:
projection = {"name":1, "_id":0, "founded_year":1}

result = list(c.find({},projection).sort("founded_year",-1))
#result

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [100]:
filter_1 = {"founded_day" : {"$lte":7}}
filter_2 = {"founded_day" : {"$gte":1}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "founded_day":1}

result = list(c.find({"$and": all_filters},projection).sort("acquisition.price_amount",-1).limit(10))
result[:3]

[{'name': 'Netscape', 'founded_day': 4},
 {'name': 'PayPal', 'founded_day': 1},
 {'name': 'Zappos', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [99]:
filter_1 = {"category_code" : "web"}
filter_2 = {"number_of_employees" : {"$gt":4000}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "category_code":1, "number_of_employees":1}

result = list(c.find({"$and": all_filters},projection).sort("number_of_employees",1))
result[:3]

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [98]:
filter_1 = {"acquisition.price_amount" : {"$gt":10000000}}
filter_2 = {"acquisition.price_currency_code" : "EUR"}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "acquisition.price_amount":1, "acquisition.price_currency_code":1}

result = list(c.find({"$and": all_filters},projection))
result[:3]

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [97]:
filter_1 = {"acquisition.acquired_month" : {"$gte":1}}
filter_2 = {"acquisition.acquired_month" : {"$lte":4}}
all_filters = [filter_1, filter_2]

projection = {"name":1, "_id":0, "acquisition":1}

result = list(c.find({"$and": all_filters},projection).limit(10))
result[:3]

[{'name': 'StumbleUpon',
  'acquisition': {'price_amount': 29000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/',
   'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches",
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': None,
   'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'Veoh',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2010/04/07/qlipso-veoh/',
   'source_description': "Qlipso's CEO Explains Why He Bought Veoh",
   'acquired_year': 2010,
   'acquired_month': 4,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Qlipso', 'permalink': 'qlipso'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [96]:
filter_1 = {"founded_year" : {"$gte":2000}}
filter_2 = {"founded_year" : {"$lte":2010}}
filter_3 = {"acquisition.acquired_year" : {"$gt":2011}}
all_filters = [filter_1, filter_2, filter_3]

projection = {"name":1, "_id":0, "acquisition":1, "founded_year":1}

result = list(c.find({"$and": all_filters},projection))
result[:3]

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [136]:
filter_1 = {"founded_year" : {"$type":16}}
filter_2 = {"deadpooled_year" : {"$type":16}}
filter_3 = {"$where" : "this.deadpooled_year - this.founded_year > 3"}

all_filters = [filter_1, filter_2, filter_3]

projection = {"name":1, "_id":0, "founded_year":1, "deadpooled_year":1}

result = list(c.find({"$and": all_filters},projection).sort("deadpooled_year",1))
result[:3]

[{'name': 'Excite@Home', 'founded_year': 1995, 'deadpooled_year': 2001},
 {'name': 'RealNames', 'founded_year': 1996, 'deadpooled_year': 2002},
 {'name': 'MediaRush', 'founded_year': 2000, 'deadpooled_year': 2004}]

In [134]:
len(result)

437

In [ ]:
# { $where: <string|JavaScript Code> }
# { $expr: { $gt: [ "$spent" , "$budget" ] } }